img {
    width: 350px;
    height: 350px;
}

#root {
    font-family: sans-serif
}

li {
    list-style: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: black;
}
