.edit-shipping-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.edit-shipping-input-and-button {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.edit-shipping-errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 175px;
    height: 50px;
    color: black;
    padding: 10px 0 10px 0;
}

.edit-shipping-errors ul {
    padding: 0;
    margin: 0;
}

.shipping-error-list-item {
    gap: 5px;
}

.change-shipping-button {
    background-color: black;
    color: white;
    margin-top: 10px;
    min-height: 44px;
    width: 145px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.refund-button {
    background-color: black;
    color: white;
    margin: 5px 0 0 0;
    border: 0;
    padding: 0 0 0 0;
    min-height: 44px;
    width: 145px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
