.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;

}

.sign-up-container h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 48px;
}


.sign-up-form input{
    margin: 10px 15px 0 15px;
    padding-left: 10px;
    width: 520px;
    height: 52px;
}

.sign-up-form button{
    margin: 10px 15px 0 15px;
    padding-left: 10px;
    width: 535px;
    height: 52px;
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.return-to-store {
    padding: 25px
}
