.order-table-row {
    border-bottom: 2px solid grey;
    padding-bottom: 25px;
}

.header-2 {
    display: flex;
    flex-direction: column;
}

.user-full-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
}

.table-column-2a *, .table-column-5a *{
    display: flex;
    justify-content: center;
}

#order-column-3 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center
}


.item-list {
    font-weight: bold;
    font-style: italic;
}

.item-list-link:link {
    text-decoration: none;
    color: black;
}

.item-list-link:visited {
    color: black;
}

.item-list-link:hover {
    color: #FFB627
}
.order-column-4 {
    display: flex;
    flex-direction: column;
    gap: 10px
}
