.product-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-card-left {
    display: flex;
    flex-direction: column;
    position: sticky;
    /* fixed */
}

.product-card-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.product-card-middle img {
    width: 100%;
    height: 100%;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

.product-card-right {
    display: flex;
    flex-direction: column;
    position: sticky;
}
