.product-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5rem 0 25px 0;
    margin-bottom: 500px;
}

.product-card-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: sticky;
    max-height: 10vh;
    padding: 0 0 0 10px;
    top: 5rem;
    gap: 10px
}

.product-card-left-name {
    font-size: 28px ;
    font-style: italic;
    font-weight: bold;
    padding: 0 0 2rem 0;
}

.product-card-left-price {
    font-size: 32px;
    padding: 0 0 1rem 0;
}

.product-card-left-description {
    font-size: 18px;
    font-style: italic;
    max-width: 300px;
}

.product-card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    padding: 0 3rem 3rem 3rem;
    height: 100vh;
}

.img-wrapper img {
    width: 35rem;
    height: 35rem;
    padding: 0 0 10px 0;
}

#img-wrapper-last {
    padding: 0 0 35px 0
}

.size-h4 {
    margin-top: 0;
}

.product-card-right {
    display: flex;
    flex-direction: column;
    position: sticky;
    max-height: 10vh;
    gap: 2rem;
    top: 5rem;
}

.payment-h4 {
    font-weight: normal;
    padding-bottom: 0 0 0 0;
    margin: 0 0 10px 0
}

.shop-pay-image {
    height: 20px;
    width: 80px;
}
